{name, "cbuf"}.
{description, "Erlang Circular Buffer/List/LIFO Queue using ETS"}.
{homepage, "https://github.com/mattsta/cbuf"}.
{url, {git, "https://github.com/mattsta/cbuf.git", {branch, "master"}}}.
{authors, ["Matt Stancliff <sysop@mindspring.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
